%stage_congratulations {
  & .congratulations-box {
    padding: 2rem;
    min-height: 250px;
    background-color: #f8f8f8;

    & svg {
      margin: auto;
      min-width: 28px;
      max-width: 28px;
      min-height: 35px;
      max-height: 35px;
    }

    &,
    & .subtitle {
      font-size: 14px;
    }

    & .message {
      max-width: 500px;
    }
  }
}
