MODE="MODE"
VITE_TOKEN="VITE_TOKEN"
VITE_API_KEY="VITE_API_KEY"
VITE_API_URL="VITE_API_URL"
VITE_DEV_URL="VITE_DEV_URL"
VITE_CALLER_ID="VITE_CALLER_ID"
VITE_TEST_URL_01="VITE_TEST_URL_01"
VITE_TEST_URL_02="VITE_TEST_URL_02"
VITE_TEST_URL_03="VITE_TEST_URL_03"
VITE_WIX_APP_URL="VITE_WIX_APP_URL"
VITE_WIX_SITE_URL="VITE_WIX_SITE_URL"
VITE_APPLICATION_ID="VITE_APPLICATION_ID