%lesson_moduleHeader {
  & .module-header-box {
    min-height: 60px;
    padding: 0.85rem 1rem;
    border: 1px solid #bdbdbd;

    &,
    & .subtitle {
      font-size: 14px;
      line-height: 19px;
    }
  }
}
