.rango {
  display: flex;
  background: #e5e7eb;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

.rango input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
}