%courseListView_infoMessage {
  & .onboarding-info-message {
    & .perks {
      max-width: 500px;
      gap: 0.5rem 0.75rem;

      & .perk-item {
        column-gap: 0.35rem;
        border-radius: 30px;
        padding: 0.4rem 0.75rem;
        border: 1px solid #007aff;

        & .perk {
          font-size: 14px;
          color: #333333;
        }

        & svg {
          min-width: 15px;
          max-width: 15px;
          min-height: 15px;
          max-height: 15px;
        }
      }
    }
  }
}
