.dummy-box,
.training-float-buttons {
  min-height: 80px;
}

.training-float-buttons {
  bottom: 1px;
  z-index: 100;
  column-gap: 2rem;
  padding: 1.35rem 1.75rem;
  backdrop-filter: blur(8px);
  border: 1px solid #dcdcdc;
  background: rgba(255, 255, 255, 0.92);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.08);

  & .box {
    column-gap: 1.15rem;
  }

  & button {
    min-height: 36px;
  }

  & .btn-back {
    min-width: 35px;
    border: 1px solid #333333;

    @media only screen and (min-width: 701px) {
      outline: 1px solid #333333 !important;
    }

    & svg {
      min-width: 13px;
      min-height: 13px;
    }
  }

  & .btn-next {
    font-size: 14px;
    min-width: 117px;
    column-gap: 0.75rem;
    padding: 0.4rem 1rem;

    &:enabled {
      outline: 1px solid #2f80ed;
    }

    &:disabled {
      outline: 1px solid #bdbdbd;

      & svg path {
        fill: #ffffff;
        stroke: #ffffff;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    bottom: 0;
    border: none !important;
    max-width: 100% !important;
    padding: 1.45rem 0.5rem 1px;

    & button {
      min-height: 40px;
    }

    & .btn-back {
      min-width: 40px;
    }

    & .btn-next {
      font-size: 15px;
      width: 100% !important;
      min-width: initial !important;
    }
  }
}

@media only screen and (max-width: 700px) {
  .dummy-box {
    min-height: 135px;
  }
}
