// Styles
@import "Stage/styles";
@import "BoxIndex/styles";
@import "CourseName/styles";

%coursesStage_courseView {
  &.course-view {
    padding-bottom: 2rem;

    @extend %courseView_stage;
    @extend %courseView_boxIndex;
    @extend %courseView_courseName;

    & .btn-view-all-courses {
      font-size: 14px;
      min-width: 150px;
      color: #2f80ed;
      margin-right: auto;
      padding: 0.4rem 1rem;
      background-color: #ffffff;

      &,
      &:enabled {
        border: 1px solid #2f80ed;
        outline: 1px solid #2f80ed;
      }
    }

    @media only screen and (max-width: 700px) {
      padding-bottom: 0.65rem;

      & .training-float-buttons {
        row-gap: 0.75rem;
        flex-direction: column;

        & .btn-view-all-courses {
          width: 100%;
          font-size: 15px;
          min-width: initial;
        }
      }
    }
  }
}
