@import "ContractsGPSItems/styles.scss";

.contracts-section {
  width: 100%;
  column-gap: 12px;

  &__grid {
    &:first-of-type {
      width: calc(60% - 6px);
    }

    &:last-of-type {
      width: calc(40% - 6px);
    }
  }
}
.contracts-gps__button {
  border: 1px solid #dcdcdc;
  background: #00647c;
  color: white;
  padding: 0.45rem 0.9rem;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.contracts-gps__button:hover {
  background: #00647c;
}

