// Styles
@import "CourseList/styles";

%courseListView_courses {
  & .courses {
    row-gap: 0.65rem;
    @extend %courses_courseList;

    & .subtitle {
      font-size: 15px;
      color: #241d5d;
    }

    & .loading-data {
      border: 1px solid #bdbdbd;
      min-height: 250px !important;
    }
  }
}
