.modal {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.5);

  z-index: 99999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #fff;
  padding: 24px;
  border-radius: 12px;

  width: 600px;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}